main{
    width: 100%;
    height: 100%;
}

.tela-inicial{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/metallica.png);
    background-position: top center;
    background-size: cover;
    filter: brightness(75%);
}

.selecionar-album{
    padding: 50px 0;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    flex-direction: column;
    color: white;
}

.albuns{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.aba-albuns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.album, .select-btn{
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    cursor: pointer;
    transition: 0.5s ease;
}

.album:hover{
    transform: translateY(-5%);

}

.album:hover .img-album{
    filter: grayscale(0);
}

.album img{
    width: 100%;
    transition: 0.2s ease;
    filter: grayscale(30%);
    border-radius: 5px;
}

.album .info{
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    text-align: left;
}

.album span, .album h2{
    font-size: 16px;
    font-weight: normal;
}

.musicas{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(42, 46, 46, 0.096);
    gap: 50px;
    user-select: none;
    margin-top: 70px;
}

.music{
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(42, 46, 46, 0.096);
    backdrop-filter: blur(8px);
    box-shadow: 12px 10px 13px rgba(0, 0, 0, 0.158);
}

.nome-musica{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 60vw;
    padding: 10px 0;
    height: 50px;
    font-weight: 500;
}

.nome-musica:hover .btn-playlist{
    display: flex;
}

.nome-musica:hover .nmr-musica{
    display: none;
}

.nome-id{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nmr-musica{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: rgb(179, 179, 179);
}

.musica-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
}

.duracao{
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    color: rgb(179, 179, 179);
}

.btn-playlist{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.album-aberto{
    display: flex;
}

@media (max-width: 838px) {
    .album, .select-btn{
        border: none;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: 25vh;
        cursor: pointer;
        transition: 0.5s ease;
    }

    .selecionar-album{
        padding: 50px 0;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    
    .selecionar-album h2{
        width: 250px;
        font-size: 18px;
    }
}

@media (max-width: 750px)  {
    .musicas{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgba(42, 46, 46, 0.096);
        gap: 50px;
        user-select: none;
        margin-top: 35px;

    }

    .nome-musica{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        width: 93vw;
        padding: 10px 0;
        height: 50px;
        font-weight: 500;
        font-size: 12px;
    }
}