.music-player{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.644);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: fixed;
    z-index: 2;
    bottom: 0px;
}

.bloqueio-controles{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 3;
    cursor: no-drop;
}

.bloqueio-controles::before{
    content: "Escolha uma música para desbloquear os controles.";
    width: 150px;
    color: white;
    background-color: rgb(216, 32, 32);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    top: -90px;
    left: 15px;
}

.bloqueio-controles:hover::before{
    display: flex;
}

.bloqueio-off{
    display: none;
}

.music-range{
    width: 100%;
    height: 2px;
    position: absolute;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    accent-color: rgb(255, 0, 0);
    top: 0px;
}

.on-off{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.on-off span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-player{
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-player-off{
    display: none;
}

.controles-audio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pause-btn{
    display: none;
}

.pause-btn-on{
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sound-on{
    display: flex;
}

.sound-on img,
.sound-off img{
    width: 25px;
}

.sound-off{
    display: none;
}

.volume-range{
    display: block;
    width: 100px;
    height: 2px;
    border-radius: 5px;
    cursor: pointer;
    accent-color: rgb(255, 0, 0);
}

.musica-escolhida{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.imagem-musica-escolhida{
    width: 30px;
}

.info-musica-escolhida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-musica-escolhida h3{
    color: white;
    font-size: 14px;
}

.info-musica-escolhida span, .on-off span{
    font-size: 14px;
    color: rgb(204, 204, 204);
}

@media (max-width: 838px) {
    .music-player{
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.644);
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        position: fixed;
        z-index: 2;
        bottom: 0px;
    }
}

@media (max-width: 750px)  {
    .music-player{
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.644);
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        position: fixed;
        z-index: 2;
        bottom: 0px;
    }

    .musica-escolhida{
        width: 185px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .imagem-musica-escolhida{
        width: 25px;
    }
    
    .info-musica-escolhida{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .info-musica-escolhida h3{
        color: white;
        font-size: 11px;
    }
    
    .info-musica-escolhida span, .on-off span{
        font-size: 10px;
        color: rgb(204, 204, 204);
    }

    .volume-range{
        display: none;
        width: 100px;
        height: 2px;
        border-radius: 5px;
        cursor: pointer;
        accent-color: rgb(255, 0, 0);
    }

    .on-off{
        gap: 5px;
    }

    .on-off span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    .sound-on{
        display: none;
    }
}